body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main{
    flex-grow: 1;
}

.imgCategoria{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}


.videoPortada{
  border:4px solid rgb(126, 124, 24);
  width: 100%; /* Asegura que el video ocupe todo el ancho del contenedor */
            height: auto; /* Mantiene la proporción del video */
            position: relative; /* Asegura que el video se mantenga en el contenedor */
            top: 10%; /* Centra el video verticalmente */
            left: 50%;
            
            transform: translate(-50%, -50%); /* Ajusta la posición del video */
            overflow: hidden;
            
}

.videoContenedor{
    width:100%;
    height: 300px;
    overflow: hidden;
}


.card-img-top{
    height: 250px;
    width: 100%;
    
    object-fit: cover;
}
 
#carrouselContenedor{
    width: 50%;
    left: 20%;
}


